* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

html,
body {
    /* background-color: rgb(45, 45, 42); */
    /* background: linear-gradient(red to yellow); */
    background: linear-gradient(#03ebc5, #03290d);
    color: rgb(10, 12, 10);
    height: 100%;
    width: 100%;
}

.container {
    margin: 10px;
    padding: 10px;
}

.all {
    margin: 10px;
    margin-top: 10px;
}

.details {
    height: auto;
    width: auto;
    background-color: rgb(10, 11, 3);
    /* filter: drop-shadow(50p); */
    box-shadow: 0 0 35px black;
    color: #06f40e;
    margin: 1px;
    border-radius: 20px;
    padding: 10px;
}

/* .details{display: flex; flex-direction: column;} */
.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading {
    color: black;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* color: #4CAF50; */
    background-color: #bbeb61;
}

input[type=radio],
select {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #bbeb61;
    color: #bbeb61;
}

input[type=upload],
select {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    background-color: #bbeb61;

}

.dates>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #bbeb61;

}

.submit {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #4CAF50;
    color: rgb(14, 7, 7);
    padding: 4px 10px;
    align-content: center;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000100;
    background-color: #bbeb61;

}

.confirm {
    display: flex;
    justify-content: center;
}

::placeholder {
    font-weight: 600;
}

@media (max-width:600px) {
    body{background-color: #03ebc5;}
}